{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menards Team Member Registration</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script>
        window.timezoneSet = {{ timezone_set|yesno:"true,false"|default:"false"|safe }};
    </script>
</head>
<body>
    <div class="container">
        <div class="motto">
          <img src="{% static 'images/menards_logo_new.png' %}" alt="Menards Team Member Registration Logo" class="logo">
            <p>Building Together, Growing Stronger.</p>
        </div>
        <h1>Welcome to the Menards Team Portal</h1>
        <p>Please select an option below to register a new employee or manage existing employees.</p>
        {% if messages %}
            {% for message in messages %}
                <p class="{% if message.tags == 'success' %}success{% else %}error{% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="buttons">
            <button id="registerButton" data-url="{% url 'register' %}" aria-label="Register a new employee">Register</button>
            <button id="adminButton" data-url="{% url 'new_admin_login' %}" aria-label="Login to admin dashboard">Admin Dashboard</button>
        </div>
        <footer class="footer">
            <hr>
            <p>© 2025 Menards Team Project. All rights reserved.</p>
            <p>For assistance, contact <a href="mailto:support@menards.com">support@menards.com</a></p>
        </footer>
    </div>
</body>
</html>